argcomplete==1.12.3
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
colorama==0.4.5
commitizen==2.27.1
cryptography==37.0.2
decli==0.5.2
distlib==0.3.4
distro==1.7.0
filelock==3.7.1
identify==2.5.1
Jinja2==3.1.2
MarkupSafe==2.1.1
nodeenv==1.6.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pdfminer.six==20220524
pdfplumber==0.7.1
Pillow==9.1.1
platformdirs==2.5.2
pre-commit==2.19.0
prompt-toolkit==3.0.29
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
questionary==1.10.0
six==1.16.0
tabula-py==2.4.0
termcolor==1.1.0
toml==0.10.2
tomlkit==0.11.0
typing_extensions==4.2.0
virtualenv==20.14.1
Wand==0.6.7
wcwidth==0.2.5
